*{
    margin: 0;

}

/* Navigation Bar Styling */

.navbar{
    display: flex;
    background-color: #ef233c;
    height: 5rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

/* Box1 Styling */
#logo-image{  /*logo-image styling*/
    height: 4rem;
    width: 12rem;
    margin: 0.6rem;
}

/* Box2 Styling */
.box2{
    display: flex;
    height: 3rem;
    width: 23rem;
    background-color: #edf2f4;
    margin: 0.7rem;
    border-radius: 45px;
    justify-content: space-evenly;
    align-items: center;
}

/*box2-findDevelopers and findStartUps*/
.findDevelopers, .findStartUps{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 2.2rem;
    border-radius: 45px;

    font-family: 'Nunito', sans-serif;
    font-size: large;
    font-weight: bolder;
}

.findDevelopers{
    width: 10rem;
}

.findDevelopers:hover{
    background-color: #a9a9a9;
}

.findStartUps:hover{
    background-color: #a9a9a9;
}

/*box2-search Stying */
.box2-search {
    display: flex;
    flex-direction: row;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 45px;
    background-color: #edf2f4;
    justify-content: space-evenly;
    align-items: center;
}

.box2-search:hover {
    background-color: #a9a9a9;
}

.search-button{
    width: 4rem;
    height: 4rem;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
}

.fa-solid fa-magnifying-glass{
    height: 5rem;
    width: 10rem;
}

/*box3 Styling*/
.box3 {
    display: flex;
    flex-direction: row;
    background-color: #edf2f4;
    height: 3rem;
    width: 6rem;
    margin: 0.7rem;
    border-radius: 45px;
    justify-content: space-evenly;
    align-items: center;
}

.box3-menuBar, .box3-user{
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box3-menuBar:hover{
    background-color: #a9a9a9;
}
.box3-user:hover{
    background-color: #a9a9a9;
}

/*box3-menu-icon*/
.fa-solid fa-bars fa-user{
    width: 5rem;
    height: 5rem;
    
}
